.registers-container {
  .flex-container {
    flex-direction: column;
  }

  .register {
    display: flex;
    width: 300px;
  }

  .register-label {
    flex: 1;
  }

  .register-value {
    flex: 2;
  }
}
